body {
  background-color: rgb(255, 255, 255);
}

.checker-main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.checker-container {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 11px 9px 39px 2px rgb(56, 56, 56);
  -moz-box-shadow: 11px 9px 39px 2px rgba(56, 56, 56, 1);
  box-shadow: 11px 9px 39px 2px rgba(56, 56, 56, 1);
}

.tasks {
  margin: 5px;
}

.task-status {
  margin: 5px;
}

.btn-1 {
  border: none;
  outline: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 10px;
}

.btn-1:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.buttons {
  display: flex;
  justify-content: center;
}